{% extends "base.html" %}

{% block content %}
<h1>Posts</h1>

<table class="table">
    <tr>
        <th>Post List for {{ date }}</th>
    </tr>

    {% for post in posts %}
    <tr>
        <td>
            <form action="{{url_for('posts.delete_post')}}" method='POST' id="del_form">
                <input type="hidden" name="post_to_delete" value="{{ post['_id'] }}" />
                <!-- <input type="submit" value="remove"/>  -->
                <a href="#" onclick="document.getElementById('del_form').submit()">x</a>&nbsp;&nbsp;&nbsp;&nbsp;{{post['post']}} &nbsp;&nbsp;&mdash; {{post['emotion']}}
            </form>  
        </td>
    </tr>
    {% endfor %}

</table>
{% with messages = get_flashed_messages(category_filter=["remove_post_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}
<h2>Add Post</h2>

{% with messages = get_flashed_messages(category_filter=["create_post_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}

{% endwith%}

<form class='form-inline' method='post' action="{{url_for('.create_post')}}">
    <input class='form-control' type='text' name='new_post' placeholder='Add Post'/>
    <br><br>
    <select name='emotions'>
        <option value="happy">Happy</option>
        <option value="sad">Sad</option>
        <option value="angry">Angry</option>
        <option value="shocked">Shocked</option>
        <option value="inlove">in Love</option>
    </select>
    <br><br>
    <input class='btn btn-primary' type='submit' />
</form>

{% endblock %}